[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
aiohttp = "*"
inflection = "*"

[dev-packages]
homeassistant = "*"
black = "*"
pytest = "*"
pytest-homeassistant-custom-component = "*"

[requires]
python_version = "3.10"
